body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Stops scrollbars from appearing */
  background: #000;
}

.lanyard-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}